*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url(https://img.freepik.com/premium-vector/cute-cats-pets-friendly-pattern-background_24877-6265.jpg?w=2000);
}

.quiz-wrapper {
    width: 100%;
    min-height: 100vh;
    /* padding: 15px;
    background-color: #8C00BD; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.quiz-box {
    width: 750px;
    min-height: 400px;
    background-color: #fff;
    padding: 20px;
    box-shadow: rgba(0,0,0,0.08) 0px 4px 12px;
    border-radius: 50px;

}

.question-count {
    text-align: center;
    margin-top: 20px;
}

.question-count .count {
    font-size: 25px;
    font-weight: 800;
    color: #9307b3;
}

.question-count .count span {
    color: #8C00BD;
    font-size: 35px;
}

.question-count .question-title {
    font-size: 20px;
    font-weight: 600;
    color: #be44fe;
}

.question-box {
    margin-top: 20px;
    display: flex;
    gap: 15px;
    align-items: center;
}

.question-box #question-number {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #c221fd;
    color: #fff;
    font-size: 20px;
    height: 40px;
    width: 40px;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

.question-box #question {
    font-size: 20px;
    font-weight: 500;
    background-color: #fff;
    color: #59007a;
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: rgba(110, 68, 254, 0.45) 0px 4px 12px;
}

.answers-box {
    display: flex;
    flex-wrap: wrap;
    margin-top: 45px;
    gap: 35px 15px;
}

.answers-box .box {
    width: calc(50% - 10px);
    position: relative;
}

.answers-box .box .answer-number {
    position: absolute;
    top: -20px;
    right: 5%;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    color: #fff;
    background-color: #b892ff;
    width: 60px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.08) 0px 4px 12px;
}

.answers-box .box .answer-table {
    display: flex;
    align-items: center;
    background-color: #9e4cbc;
    border: 2px solid #9e4cbc;
    width: 100%;
    color: #fff;
    padding: 20px 25px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: rgba(0,0,0,0.08) 0px 4px 12px;
}

.answers-box .box input:checked~.answer-table {
    background-color: #fff;
    color: #9e4cbc;
    border: 2px solid #9e4cbc;
}

.button-box {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.button-box button{
    width: calc(70% - 15px);
    background-color: #9e4cbc;
    border: 2px solid #9e4cbc;
    padding: 12px 12px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.5s;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.button-box button:hover {
    border: #9e4cbc;
    background-color: #fff;
    color: #160f21;
}

.button-box .submite-btn {
    display: none;
}

.result-show {
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    display: none;
}